@font-face {
	src: url("../asset/Metropolis Font family/Metropolis-Regular.otf");
	font-family: metropolis;
}

@font-face {
	src: url("./asset/Metropolis Font family/Metropolis-Bold.otf");
	font-family: metropolis-bold;
}

.info-box {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: metropolis-bold;
    font-style: bold;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0;
    padding: 0;
    margin-top: 10px;

}

h1 {
    margin: 0;
}

.box-button-link {
    width: 400px;
    height: 48px;
    border-radius: 25px;
    background: #db3022;
    border: 0;
    box-sizing: border-box;
    font-family: metropolis-bold;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
}