@font-face {
	src: url("../asset/Metropolis Font family/Metropolis-Regular.otf");
	font-family: metropolis;
}

body {
    font-family: metropolis;
    font-size: 12px;
    height: 8000pt;
}

.box-head {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    width: 100vw;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 3px 30px rgba(173, 173, 173, 0.25);
    align-items: center;
}

.col {
    padding: 0;
}

.box-header {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
}

.box-logo {
    height: auto;
    max-width: 135pt;
    box-sizing: border-box;
}

.image-logo {
    width: 100pt;
    margin: 0pt;
    padding: 0pt;
}

.box-search {
    text-align: center;
}

.search-box {
    width: 600px;
    height: 30px;
    padding: 0px 20px;
    border: 1px solid #8e8e8e;
    border-radius: 23px;
    background-image: url(../asset/Search.png);
    background-repeat: no-repeat;
    background-position-x: 565px;
    background-position-y: center;
    box-sizing: border-box;
    font-family: metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #9b9b9b;
}

.sort {
    height: 30px;
    border: 1px solid #8e8e93;
    margin: 0px 10px;
    border-radius: 12px;
    background: #ffffff;
}

.box-info img {
    margin-right: 10px;
}

.box-info {
    max-width: 300px;
}

.btn-login {
    border: 0;
    background: #db3022;
    border-radius: 25px;
    width: 100px;
    height: 36px;
    font-family: metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.btn-signup {
    background: #ffffff;
    border-radius: 25px;
    border: 1px solid #9b9b9b;
    width: 100px;
    height: 36px;
    font-family: metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9b9b9b;
    margin-left: 5px;
}